/*************
General
**************/

body {
  background: #f1f1f1;
  margin: 0;
  color: #fff;
  font-family: 'PT Sans', sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

.wrap {
  max-width: 825px;
  min-width: 275px;
  margin: 0 auto;
}

.streamer {
  display: flex;
  align-items: center;
  text-align: center;
  height: 75px;
  border-bottom: solid 1px #C9D6DF;
}

.hide {
  display: none;
}

/*************
Header
**************/

h1 {
  font-family: 'Domine', serif;
  background: #3BAEA0;
  margin: 0;
  text-align: center;
  padding: 20px;
  text-shadow: -1px -1px 1px #555,
	  	         -2px -2px 1px #666;
  font-size: 52px;
}

/*************
Buttons
**************/

.buttons {
  display: flex;
}

.btn {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  flex: 1 1 auto;
  padding: 10px;
  background: #118A7E;
  color: #fff;
  border: ridge #6DF1CC 4px;
}

.btn:hover {
  background-color: #6DF1CC;
  color: #102c49;
}

.btn.active {
  background: #FCBAD3;
  color: #625772;
  border: ridge #FF9999 4px;
}

/*************
Logo and name
**************/

.logo img {
  width: 60px;
  margin: 10px;
  border-radius: 10px;
  padding:2px;
  border:1px solid #1E2022;
  background-color:#fff;
}

.logo {
  width: 75px;
}

.name {
  width: 150px;
}

#offline .logo img, #closed .logo img {
  width: 40px;
}

#offline .streamer, #closed .streamer {
  height: 55px;
}

/**********************
Status and description
**********************/

.status-block {
  flex: 0 5 600px;
  align-items: center;
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
}

.online .status-block {
  display: flex;
  justify-content: space-around;
}

.description {
  flex: 1 1 auto;
}

.info {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  display: inline-block;
  margin-right: 5px;
  min-width: 10px;
  border: 1px solid #52616B;
}

.online {
  background-color: #93E4C1;
  color: #52616B;
  border-bottom: solid 1px #F0F5F9;
}

.online a {
  color: #52616B;
}

.online .indicator {
  background-color: #00B906;
}

.offline .indicator {
  background-color: #DA1212;
}

.closed .indicator {
  background-color: #222;
  border: solid 1px #aaa;
}

.offline {
  background-color: #3BAEA0;
}

.closed {
  background-color: #52616B;
}

/**********************
Copyright
**********************/

.copyright {
  font-size: 14px;
  text-align: center;
  margin-top: 30px;
  color: #1E2022;
}

.copyright a {
  color: #1F6F78;
}

.copyright a:hover {
  color: #93E4C1;
}

/**********************
Media queries
**********************/

@media (max-width: 500px) {
  .descr-extend {
    display: none;
  }

  /*.logo {
    flex: 0 1 50px;
  }*/
  .description {
    flex: 0 1 auto;
  }
}

@media (max-width: 300px) {
  .description {
    display: none;
  }
}
