/*************
General
**************/

body {
  background: #f1f1f1;
  margin: 0;
}

.wrap {
  max-width: 800px;
  margin: 0 auto;
}

.streamer {
  display: flex;
  align-items: center;
  text-align: center;
  height: 75px;
}

.hide {
  display: none;
}

/*************
Logo and name
**************/

.logo img {
  width: 60px;
  margin: 10px;
  border-radius: 5px;
}

.logo {
  width: 75px;
}

.name {
  width: 150px;
}

/**********************
Status and description
**********************/

.status-block {
  flex: 0 5 600px;
  align-items: center;
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
}

.online .status-block {
  display: flex;
  justify-content: center;
}

.description {
  flex: 1 1 auto;
}

.info {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  display: inline-block;
  margin-right: 5px;
}

.online {
  background-color: #cfc;
}

.online .indicator {
  background-color: green;
}

.offline .indicator {
  background-color: red;
}

.closed .indicator {
  background-color: #222;
}

.offline {
  background-color: #ddf;
}

.closed {
  background-color: #ccc;
}

/**********************
Copyright
**********************/

.copyright {
  font-size: 14px;
  text-align: center;
  margin-bottom: 30px;
}

.copyright a {
  color: #235F9C;
}

.copyright a:hover {
  color: #102c49;
}

/**********************
Media queries
**********************/

@media (max-width: 500px) {
  .descr-extend {
    display: none;
  }

  .logo {
    flex: 0 1 50px;
  }
  .description {
    flex: 0 1 auto;
  }
}

@media (max-width: 300px) {
  .description {
    display: none;
  }
}
